form {
  display: flex;
  flex-direction: column;
  width: 28rem;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0px 0px 10px 2px #212c65;
  border-radius: 2rem;
}

.container {
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.mapa {
  padding: 2rem 0rem 0rem 0rem;
}

.map__responsive {
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
  border: 0.2rem solid;
  box-shadow: 0px 0px 10px 2px #212c65;
  margin: 1rem 0;
  border-radius: 2rem;
}

.map__responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.ubicacion,
.contacto {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #212c65;
}
