.titulo{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--fuenteTitulo);
}

.imgExitos{
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.91);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.91);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.91);
    margin-bottom: 2rem;
}

.parrafo{
    text-align: center;
    font-size: 1.2rem;
}

@media(min-width:768px){
    .titulo{
        font-size: 2.5rem;
        text-align: left;
        margin: 1rem 0;
    }
    .parrafo{
        text-align: center;
        font-size: 1.5rem;
        padding: 0 1rem;
    }
    .contenido{
        display: grid;
        grid-template-columns:60% 40%;
    }
    .parrafo:nth-child(0){
        text-align: left
    }
    .parrafo:nth-child(2){
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .parrafo:last-of-type{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .imgExitos{
      height: 90%;
    }
}

@media(min-width:1140px){
    .titulo{
        font-size: 3rem;
        text-align: left;
        margin: 1rem 0;
    }
    .parrafo{
        text-align: center;
        font-size: 1.7rem;
        padding: 0 1rem;
    }
}