html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }

  /*globales*/
  img{
      max-width: 100%;
  }

  .container {
      max-width: 120rem;
      margin: 0 auto;
  }
  