:root {
  /*fuentes*/
  --fuenteLogo: "Alfa Slab One", cursive;
  --fuenteTitulo: "Taviraj", serif;

  /*colores*/
  --blanco: #fff;
  --colorPrimario: #212C65;
  --colorSecondary: #01A1DD;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    
  }

  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*globales*/
img {
  max-width: 100%;
}
.img{
  transition: all .2s ease;
}
.img:hover{
  transform: scale(1.1);
}
h1{
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--colorPrimario);
}
