:root{
    /*fuentes*/
    --fuenteLogo :'Alfa Slab One', cursive;
    --fuenteTitulo:'Taviraj', serif;

    /*colores*/
    --blanco: #fff;
    --colorPrimario: #07075e;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    
  }
body{
    overflow-x: hidden;
}
  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }

  /*globales*/
  img{
      max-width: 100%;
  }


